*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.nav{
    width: 97vw;
    height: 16%;
    /* background-color: rgb(126, 141, 141); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    box-shadow: 1px 1px 3px black;
    margin: auto;
    border-radius: 10px;
    background-color:rgb(207 209 208);

}
.myname_div h1{
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgb(0 0 0);
    color: white;
    margin: 10px 0 0 10px;
}
.mydetails_div h2{
    color: #615d5d;
    text-shadow: 1px 1px 1px white;
    margin: 0 0 0 10px;
    text-align: center;
    font-size: 19px;

    

}
.body{
    width: 100vw;
    height: 78%;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100vw;
    height: 5%;
    background-color: rgb(234, 234, 234);
}
.inner_body{
    background-color: rgb(238 238 238);
    width: 95%;
    height: 93%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px black;

}
.Name_And_Details img{
    width: 154px;
    height: 191px;
    margin-top: 40%;
    border-radius: 40%;
    box-shadow: 0px 1px 6px black;

}
.Name_And_Details h1{
    font-size: 20px;
    margin-top: 10px;
}
.buttons{
    display: flex;
    height: 30%;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    
}
.buttons  p{
    width: 100px;
    height: 30px;
    margin: 0 20px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;  
    box-shadow: 0px 1px 6px black;

}
.buttons a{
    text-decoration: none;
    color: black;

}
.Name_And_Details h1{
    text-align: center;
    color: #ffffff;
    font-size: 19px;
    text-shadow: 0px 0px 5px #000000;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
    
}
.footer div{
    /* margin: 0 30px; */
}
#time{
    font-size: 14px;
}
.timer_div{
    margin-left: 10px;
    margin-top: 5px;
    color: #191717;
    text-shadow: 1px 1px 1px white;
}